/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: url(../images/cover-image-dark.png); 
  background-color: var(--bg-color-dark);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; 
} 

.decoration-element {
  position: absolute;
  top: 20px;
  right: 48px;
  text-transform: uppercase;
  line-height: 26px;
  color: var(--section-title-color);
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
}

.decoration-element::after {
  position: absolute;
  content: '';
  left: 42px;
  top: 8px;
  width: 9px;
  height: 9px;
  background-color: var(--section-title-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--section-title-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inset-inline-start: 20px;
  inset-block-end: 20px;
  width: 25px;
  height: 25px;
  border-block-end: 1px solid var(--nav-color);
  border-inline-start: 1px solid var(--nav-color);
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inset-inline-end: 20px;
  inset-block-start: 20px;
  width: 25px;
  height: 25px;
  border-block-start: 1px solid var(--nav-color);
  border-inline-end: 1px solid var(--nav-color);
}

/* меню выбора темы */
.header__theme-menu {
  padding-block-start: 20px
}

.header__theme-menu-button {
  background-color: transparent;
  color: var(--section-title-color);
  text-align: center;
  vertical-align: middle;
  font-family: var(--main-font-family);
  text-transform: lowercase;
  font-size: var(--main-font-size);
  line-height: 23px;
  padding-inline: 13px;
  border: 1px solid transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
}

.header__theme-menu-button_active {
  border: 1px solid var(--section-title-color);
  pointer-events: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid var(--section-title-color);
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
  height: 100vh;
  min-height: 768px;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* титульник шапки  */

.header__title {
  display: flex;
  justify-content: start;
  color: var(--header-title-color);
  text-shadow: 4px 4px 0 var( --cover-text-shadow);
  font-size: var(--header-title-size);
  font-weight: 700;
  line-height: 82.5%;
  font-family: var(--main-font-family);
}

.header__subtitle {
  display: flex;
  justify-self: end;
  align-self: center;
  margin-inline-end: 20px;
  max-width: 491px;
  margin-block-end: 20px;
}

.text-decor {
  font-weight: 700;
  color: var(--subtitle-color);
  line-height: var(--main-line-height); 
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
}

.title-decor {
  background-color: var(--accent-color);
}

/* main */

.main {
  margin-block-start: 60px;
  margin-inline: 20px;
  display: grid;
  gap: 80px;
}

.main__section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 11px;
}

/* стили для зоголовков секций  */

.main__section_title.causes-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-block-end: 20px;
}

.main__section_title-text {
  color: var(--section-title-color);
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  font-weight: 700;
  line-height: var(--main-line-height);
}

/* стили для содержания секций */

.main__section_content {
  display: grid;
  gap: 20px;
}

.unlist {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.main__section_content-list{
  display: grid;
  gap: 10px;
}

.list {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
}

.gap {
  margin-block-end: 10px;
}

.main__section_content-text {
  color: var(--main-text-color);
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--main-line-height);
}

/* стили для подзаголовков секций */

.main__section_content-subtitle{
  color: var(--subtitle-color);
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  font-weight: 400;
  line-height: var(--main-line-height);
}

.font-weight {
  font-weight: 700;
}

/* стили для ссылок в тексте */

.links {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--link-shadow-color);
}

.links:focus {
  outline: none;
}

.links:hover {
  border-block-end: 1px solid var(--main-text-color);
}

.links:focus-visible {
  outline: none;
  border: 1px solid var(--main-text-color);
}

/* картинки */

.pictures__section {
  display: grid;
  gap: 20px;
}

.pictures__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.image {
  inline-size: 100%;
  block-size: 100%;
  object-position: center;
  object-fit: cover;
}

.image:first-of-type {
  grid-column: span 2;
}

.image:nth-of-type(2) {
  grid-row: span 2;
}

.image:nth-of-type(3) {
  grid-row: span 2;
}

.image:last-of-type {
  grid-column: span 2;
}

/* подвал  */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 768px;
  margin-block-start: 60px;
}

.footer__title {
  color: var(--footer-title-color);
  text-shadow: 2px 2px 0 var(--cover-text-shadow);
  font-family: var(--main-font-family);
  font-size: var(--footer-title-size);
  font-weight: 700;
  line-height: 82.5%;
}

.footer.decorated-zone {
  position: relative;
}

/* Медиа-запросы для ПЛАНШЕТОВ */

@media (width <= 768px) {

  .header {
    min-height: 1024px;
  }

  .footer {
    min-height: 1024px;
  }

  .footer__title{
    font-size: 116px;
  }

  .header__subtitle {
    display: flex;
    justify-self: end;
    align-self: center;
    margin-inline-end: 20px;
    max-width: 364px;
    margin-block-end: 20px;
  }

  .header__theme-menu {
    padding-inline-end: 20px;
    padding-block-start: 195px;
  }

  .header__theme-menu-list {
    flex-direction: column;
    align-items: end;
    gap: 5px;
  }

  .main__section {
    gap: 20px;
  }

  .main__section-causes_content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .main {
    word-break: break-word;
  }

  .main__section_title.causes-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-block-end: 20px;
  }
  
  .unlist {
    display: grid;
    grid-template-columns: 1fr;
  }

  .main__section_title-text {
    display: grid;
    grid-template-columns: 1fr;
  }
   
}

/* Медиа-запросы для ТЕЛЕФОНОВ */

@media (width <= 380px) {

  .header {
    min-height: 668px;
  }

  .footer {
    min-height: 668px;
    margin-block-start: 40px;
  }

  .decoration-element {
    right: 39px;
    top: 11px;
  }
  
  .main__section_title.causes-section {
    display: grid;
    grid-template-columns: 1fr;
    margin-block-end: 20px;
  }
  
  .main__section_content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  
  .unlist {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .header__subtitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: 10px;
    margin-block-end: 10px;
  } 

  .header__title {
    padding-inline-start: 10px;
    font-size: 116px;
  }

  .header__theme-menu {
    padding-inline-end: 10px;
    padding-block-start: 75px;
  }

  .main {
    margin-block-start: 40px;
    margin-inline: 10px;
    gap: 50px;
  }

  .main__section {
    grid-template-columns: 1fr;
  }

  .main__section-causes_title {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .pictures__section {
    gap: 10px;
  }

  .pictures__container {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .image:first-of-type {
    grid-column: 1;
  }

  .image:nth-of-type(2) {
    grid-column: 1;
  }

  .image:nth-of-type(3) {
    grid-column: 1;
  }

  .image:nth-of-type(4) {
    grid-column: 1;
  }

  .image:last-of-type {
    grid-column: 1;
  }

  .decorated-zone::after {
    inset-block-start: 635px;
    inset-inline: 10px;
  }

  .decorated-zone::before {
    inset-inline-end: 10px;
    inset-block-start: 10px;
  }
}